@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: Minecrafter;
    src: url('Minecrafter.Reg.ttf') format('truetype'); /* Replace 'path/to/font-file.otf' with the actual file path */
  }
  *{
    margin: 0;
    padding: 0;
  }
  *::-webkit-scrollbar{
    display: none;
  }
  body{
    color: white;
    background: url('./bg.gif');
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.568);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    text-shadow: 1px 1px 1px red;
    padding: 2rem 0;
   font-family: 'Minecrafter',sans-serif;
    text-align: center;
    font-size: 5rem;
}

li{
    font-size: 1.4rem;
}

