@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: Minecrafter;
    src: url('./Minecrafter.Reg.ttf') format('truetype'); /* Replace 'path/to/font-file.otf' with the actual file path */
  }
*{
    margin: 0;
    padding: 0;
}
body, html {
    font-family: 'Poppins', sans-serif;
    color:#efefef;
    background: url('./bg.gif');
    height:100%;
  }
  div.container-container{
    background: rgba(0, 0, 0, 0.582);
    height: 100vh;
    display: grid;
    place-items: center;
    width: 100vw;
  }
  .btn {
    border: none;
    text-align:center;
    cursor: pointer;
    color: #efefef;
    padding: 25px 80px;
    width: 270px;
    margin: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    background-color:rgb(38, 38, 38);
    border: solid 1px transparent;
    border-radius:10px;
    -webkit-font-smoothing: antialiased;
  }
  
  .nav {
    display: grid;
    place-items: center;
    position:relative;
    width:350px;
    margin:auto;
    overflow:hidden;
    background-color:#1d1d1dda;
    border-radius: 22px;
    backdrop-filter: blur(5px);
    height:90%;
    border: 1px solid rgba(0, 0, 0, 0.562);
  }
  
  .instructions {
    text-align:center;
    margin-top:10px;
    
  }
  body{
    display: grid;
    place-items: center;
  }

  .modal-title{
    text-transform: uppercase;
  }
  .btn-close{
    color: white;
  }

  .modal-content{
    background: rgb(38, 38, 38);
  }
  .btn:hover{
    background-color: rgb(56, 56, 56);
  }
  a{
    color: white;
  }

  .game-title{
    position: absolute;
    top: 10px;
    font-family:Minecrafter,sans-serif;
    font-size: 3rem;
  }