@font-face {
    font-family: Minecrafter;
    src: url('Minecrafter.Reg.ttf') format('truetype'); /* Replace 'path/to/font-file.otf' with the actual file path */
  }

body {
    font-family:Minecrafter,sans-serif;
    text-align: center;
    color: red;
}

#board {
    /* background-color: skyblue; */
    background-image: url("./bg.gif");
}

*{
    margin: 0;
    padding: 0;
}
html::-webkit-scrollbar{
    display: none ;
}

#soundToggle{
    position: absolute;
    z-index: 10000;

}